// Colors
:root {
    --title: #1B1A1A;
    --text: #403E3B;
    --grey-text: #645C55;
    --dark: #403E3B;
    --light: #F7F7F7;
    --grey: #CEC4BC;
    --white: #FFFFFF;
    --grey-light: #ECE7E4;
}


